<nav class="sticky-top" >
  <div class="container-fluid d-flex flex-row justify-content-between bg-info p-4 mb-4 text-white  ">
    <a class="navbar-brand  fs-4 " routerLink="/">Todos App</a>
    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item active mx-3">
          <a class="nav-link " routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>

       
      </ul>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>