<div class="border border-1 p-2 m-0">
    <h5 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
    <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
    <button class="btn btn-danger btn-sm" (click)="onClick(todo)">Delete</button>
    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" value="" id="todo{{i}}" name="checked" (click)="onCheckClick(todo)" [checked]="!todo.active">
        <label class="form-check-label " for="todo{{i}}">
          Mark as Complete
        </label>
      </div>
</div>
